


/* .dark{
    background-color: #5C5470;
    color: #FAF0E6;
}
.light{
    background-color: #FAF0E6;
    color: #5C5470; 
 } */

.home{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
