.about-section{
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}
/* .about-section > h2{
    
    margin-top:5em;
    margin-bottom: 5em;
}
.about-section > h5{
    margin-top: 5em;
} */