.benifits-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 5%;
}
.benifit{
    margin: 5%;
    padding: 2%;
}
.benifit > svg{
    margin-bottom: 10%;
}


@media (max-width:768px){
    .benifits-list{
        display: grid;
        grid-template-columns: 1fr;
    }
}