
.heading {
    background-color: #352f44;
    color: aliceblue;
    text-align: center;
    font-size: x-large;
    padding: 3%;
    box-shadow: 5px 5px 5px gray;
  }

  svg{
    cursor: pointer;
  }
